#ui {
  color: #fff;
  background-color: #333;
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
  opacity: 0.9;
}

#ui label,
h2 {
  color: #fff;
}
#submit {
  margin-top: 10px;
}
#uname {
  margin-bottom: 15px;
}
.social padding {
  background: white;
}
